# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2 # 缩进两个空格
charset = utf-8
trim_trailing_whitespace = true # 去除多余空格
insert_final_newline = true # 在尾部插入一行
end_of_line = lf

[*.md]
trim_trailing_whitespace = false
